<div class="span8">
  <h2> Codeschool Stars! </h2>
    <h3> Earn stars by completing courses at <a href="http://www.codeschool.com">Codeschool.com</a></h3>
      <h4> Prework and any other course desired counts towards building stars! You won't earn stars for redoing courses later in the semester, but this is a great resource to further knowledge in other areas of interest! </h4>


 
</div>
