<div class="span8">
  <h2> Github Stars! </h1>

    <h3> Earn stars by remaining active in the open source community on <a href="github.com">Github.com</a></h2>

    <ul style= "list-style-type: none;"><h3> Student's can earn stars for any of the following:</h3>
      <h4> <li> Open source a Ruby project</li>
      <li> Open source 5 Ruby projects</li>
      <li> Open source 10 Ruby projects</li>
      <li> Make a commit to an open source project </li>
      <li> Make 5 commits to an open source project </li>
      <li> Make 10 commits to an open source project </li>
      <li> Have an open source project forked </li> </h4>
    </ul>
</div>