<div class="span8">
  <h2> Student Stars! </h1>

    <h3> Give Stars to other students</a></h2>
      <h4> Someone spend a lot of time explaining something really helpful to you? Send you a great link? Even show you <a href="http://www.grumpycats.com/"><font color="black">funny cat pictures</font></a>? Send them a star to say thank you! </h4>
</div>