<div class="span8">
  <h2> Teacher Stars! </h2>

    <h3> Students can only earn these stars by the grace of God.</h3>
      <h4>AKA does <a href="http://shitavisays.tumblr.com/"><font color="black">Avi</font></a> think you're worthy?</a></h4>


</div>