<div class="span8">
  <h2> Treehouse Stars! </h2>

    <h3> Earn stars by completing courses on <a href="http://www.teamtreehouse.com">Team Treehouse!</a> </h2>

    <ul style= "list-style-type: none;"><h3> Student's can earn stars for any of the following:</h3>
      <h4> <li> Website Basics</li>
      <li> Technology Foundations</li>
      <li> Aesthetic Foundations</li>
      <li> HTML</li>
      <li> CSS Foundations </li>
      <li> CSS3 </li>
      <li> Build a Responsive Website </li>
      <li> Introduction to Programming </li>
      <li> Javascript Foundations </li>
      <li> Ruby Foundations</li>
      <li> Build a Simple Ruby on Rails Application </li>
       </h4>
    </ul>
</div>