<div class="activity-feed span3" ng-controller="ActivityFeedsController">
  <div class="achievement" ng-repeat="achievement in achievements | orderBy:orderProp" >
        <img src="{{ achievement.user_pic }}" alt="">
        <p class="text"><a href="/users/{{ achievement.user_id }}" class="name" ng-bind="achievement.user_name + '' || ''"></a> earned the <a href="/stars/{{ achievement.star_id }}">
        <span class="star" ng-bind="achievement.star + '' || ''"></span></a> star!</p>
        <p class="time" ng-bind="achievement.created + ' ago ' || ''"></p>
        <div class="clearfix"></div>
  </div>
</div>