<div class="activity-feed" ng-controller="ActivityFeedsController">
  <h2>Group Activity Feed</h2>
  <div class="achievement" ng-repeat="achievement in achievements | orderBy:orderProp" >
      <p>
        <span class="time" ng-bind="achievement.created + ' ago ' || ''"></span>
        <a href="/users/{{ achievement.user_id }}" class="name" ng-bind="achievement.user_name + ' earned the ' || ''"></a>
        <span class="star" ng-bind="achievement.star + ' star!' || ''"></span>
      </p>
  </div>
</div>