<div class="activity-feed" ng-controller="ActivityFeedsController">
  <h2>Activity Feed</h2>
  <div class="achievement" ng-repeat="achievement in achievements | orderBy:orderProp" >
      <p>
        <span class="time" ng-bind="achievement.created || '?'"></span> ago
        <a href="/users/{{ achievement.user_id }}" class="name" ng-bind="achievement.user_name || '?'"></a> earned the 
        <span class="star" ng-bind="achievement.star || '?'"></span> star!
      </p>
  </div>
</div>