<div class="group-grid" ng-controller="GridListController">
  <div class="grid-size pull-right">
    <i class="icon-minus minus" ng-click="zoomOut($event)"></i>
    <i class="icon-plus plus" ng-click="zoomIn($event)"></i>
  </div>
  <% unless @group.users.blank? %>
    <% @group.users.each do |user| %>
      <a href="/users/<%= user.id %>">
        <div class="user" style="background-image:url(<%= user.profile_pic %>);">
          <div class="name"><%= user.name %></div>
          <div class="star-count"><span><%= user.achievements.count %></span><i class="icon-star"></i></div>
        </div>
      </a>
    <% end %>
  <% else %>
  <p>No users, die.</p>
  <% end %>
</div>