<section>
  <h3>Who Wrote a Blog Post Today?</h3>
    <table class="table table-hover table-striped table-blog">
      <thead>
        <tr>
          <th>Name</th>
          <th>Blog_Url</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @blog_posts.each do |b| %>
          <tr>
            <td><%= link_to User.find_by_id(b.user_id).name, User.find_by_id(b.user_id).name %></td> 
            <td><%= link_to User.find_by_id(b.user_id).blog_url.gsub('/atom.xml', ""), User.find_by_id(b.user_id).blog_url.gsub('/atom.xml', "") %>
            </td>
            <td>
              <%= b.created_at.strftime("Written on %m/%d/%Y") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</section>