<% content_for :section_title do %>
  <%= @group.name %>
<% end %>

<%= render :partial => 'graph' %>

<div class="span4 hidden-phone">
  <%= render :partial => 'grid' %>
</div>
<div class="span4 hidden-phone" ng-app>
  <%= render :partial => 'activityfeed' %>
</div>