<% @users_array.each do |array| %>
  <div class="row"><% array %>
    <% array.each do |user| %>
      <div class="span2">
        <%= user.name %>
        <%= image_tag(user.profile_pic) %>
      </div>
    <% end %>
  </div>
<% end %>
