
<div class="row show-grid">
  <div class="span1 offset3">hello</div>
</div>

<div class="row show-grid">
  <div class="span1 offset3">hello</div>
  <div class="span1">hello</div>
</div>

<div class="row show-grid">
  <div class="span1 offset2">hello</div>
  <div class="span1">hello</div>
  <div class="span1">hello</div>
</div>

<div class="row show-grid">
  <div class="span1 offset2">hello</div>
  <div class="span1">hello</div>
  <div class="span1">hello</div>
  <div class="span1">hello</div>
</div>

<div class="row show-grid">
  <div class="span1 offset1">hello</div>
  <div class="span1">hello</div>
  <div class="span1">hello</div>
  <div class="span1">hello</div>
  <div class="span1">hello</div>
</div>

<div class="row show-grid">
  <div class="span1 offset1">hello</div>
  <div class="span1">hello</div>
  <div class="span1">hello</div>
  <div class="span1">hello</div>
  <div class="span1">hello</div>
  <div class="span1">hello</div>
</div>

<div class="row show-grid">
  <div class="span1">hello</div>
  <div class="span1">hello</div>
  <div class="span1">hello</div>
  <div class="span1">hello</div>
  <div class="span1">hello</div>
  <div class="span1">hello</div>
  <div class="span1">hello</div>
 </div>






