<!DOCTYPE HTML>

<html>
  <head>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

  </head>
  <body>
</svg>
    <div class="container">
      <div class="row">
        <div class="span5 blank hidden-phone"></div>
        <div class="span2 block">
          <div class="stats">
          <div class="github"></div>
          <div class="codeschool"></div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="blank hidden-phone span5"></div>
      </div>

      <div class="row">
        <div class="blank hidden-phone span4"></div>
        <div class="block span2">
          <div class="stats">
          <div class="github"></div>
          <div class="codeschool"></div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github"></div>
          <div class="codeschool"></div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="blank hidden-phone span4"></div>
      </div>

      <div class="row">
        <div class="blank hidden-phone span3"></div>
        <div class="block span2">
          <div class="stats">
          <div class="github"></div>
          <div class="codeschool"></div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github"></div>
          <div class="codeschool"></div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github"></div>
          <div class="codeschool"></div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="blank hidden-phone span3"></div>
      </div>

      <div class="row">
        <div class="blank hidden-phone span2"></div>
        <div class="block span2">
          <div class="stats">
          <div class="github"></div>
          <div class="codeschool"></div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github"></div>
          <div class="codeschool"></div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github"></div>
          <div class="codeschool"></div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github"></div>
          <div class="codeschool"></div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="blank hidden-phone span2"></div>
      </div>

      <div class="row">
        <div class="blank hidden-phone span1"></div>
        <div class="block span2">
          <div class="stats">
          <div class="github"></div>
          <div class="codeschool"></div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github"></div>
          <div class="codeschool"></div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github"></div>
          <div class="codeschool"></div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github"></div>
          <div class="codeschool"></div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github"></div>
          <div class="codeschool"></div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="blank hidden-phone span1"></div>
      </div>

      <div class="row">
        <div class="blank hidden-phone span1"></div>
        <div class="block span2">
          <div class="stats">
          <div class="github"></div>
          <div class="codeschool"></div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github"></div>
          <div class="codeschool"></div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github"></div>
          <div class="codeschool"></div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github"></div>
          <div class="codeschool"></div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github"></div>
          <div class="codeschool"></div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="blank hidden-phone span1"></div>
      </div>

      <div class="row">
        <div class="blank hidden-phone span1"></div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse"></div>
          </div>
        </div>
        <div class="blank hidden-phone span1"></div>
      </div>

    </div>
  </body>
</html>
