<% content_for :section_title do %>
  <%= @user.name %>
<% end %>

<% content_for :sidebar_profile_pic do %>
  <%= image_tag @user.safe_profile_pic %>
<% end %>

<h1>Editing user</h1>

<%= render 'edit_form' %>

<%= link_to 'Back', users_path %>
