<div id="refill_star_bank" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Refill Star Bank!</h3>
  </div> <!-- modal header --> 

<% if @users %>

  <div class="modal-body">
    <div class="field">
      <legend>Select a student to refill their star bank!</legend>
      <% @users.each do |user| %>
        <div>
          <input type="checkbox" id="user_id" name="user_name" style="float:left;">
          <label for="star-receiver"><%= user.name %></label>
        </div>
      <% end %>
    </div>
    <br>
    <div class="field">
      <label for="number-stars">
        <legend>Add how many stars?</legend>
      </label>
        <input type="number" id="number-stars" style="height:30px;">
    </div><br>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <%= submit_tag ('Submit'), :class => "btn" %>
    </div>  
  </div> <!-- modal body to select a student to refill their star bank -->

<% else %>

  <div class="modal-body">
    <select name="group_id">
      <option>Select a group please!</option>

      <% current_user.groups.each do |group| %>
        <option value="<%= group.id %>"><%= group.name %></option>
      <% end %>

    </select>
  </div> <!-- modal body to select a group from a dropdown menu -->

<% end %>

</div> <!-- end of modal window -->





