<!DOCTYPE HTML>

<html>
  <head>
    <title>Duck sauce</title>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
      <style type="text/css" media="screen">
        .container {
          padding-top: 20px;
        }
        .row {
          margin-bottom: 25px;
        }
        .block, .blank {
          height: 120px;
          margin-left: 30px;
        }

        .block {
          background: #444;
          color: #fff;
          text-align: center;
          font-size: 4em;
          line-height: 2.5em;
          background: url(http://placekitten.com/g/300/300);
          background-size: 100%;
          margin: relative;
        }
        .stats {
          width: 80%;
          margin: 0 auto;
          font-size: .4em;
          position: relative;
          top: 30px;
        }
        .github, .codeschool, .treehouse {
          display: inline;
          background: pink;
          border-radius: 20px;
          padding: 1px;
        }
        .github, .codeschool {
          margin-right: 16px;
        }
      </style>

      <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span5 blank hidden-phone"></div>
        <div class="span2 block">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="blank hidden-phone span5"></div>
      </div>

      <div class="row">
        <div class="blank hidden-phone span4"></div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="blank hidden-phone span4"></div>
      </div>

      <div class="row">
        <div class="blank hidden-phone span3"></div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="blank hidden-phone span3"></div>
      </div>

      <div class="row">
        <div class="blank hidden-phone span2"></div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="blank hidden-phone span2"></div>
      </div>

      <div class="row">
        <div class="blank hidden-phone span1"></div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="blank hidden-phone span1"></div>
      </div>

      <div class="row">
        <div class="blank hidden-phone span1"></div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="blank hidden-phone span1"></div>
      </div>

      <div class="row">
        <div class="blank hidden-phone span1"></div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="block span2">
          <div class="stats">
          <div class="github">12</div>
          <div class="codeschool">12</div>
          <div class="treehouse">62</div>
          </div>
        </div>
        <div class="blank hidden-phone span1"></div>
      </div>

    </div>
  </body>
</html>
