/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, {
  background-color: #fafafa !important;
}

h1, h2, h3, h4, p, a, ol, ul {
  font-family: 'Open Sans Condensed', sans-serif !important;
}

a {
  text-decoration: none !important;
}



.navbar {
  box-shadow: none;
  border: none;
  .nav-collapse.in.collapse .nav.pull-right {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .navbar-inner {
    margin: 0;
    border: none;
    background-image: none;
    box-shadow: none;
    background: #EC602F;
    height: 80px;
    .btn-navbar {
      background-color: #EC602F;
      background-image: none;
      border-color: rgba(255, 255, 255, 0.9);
      margin: 26px 10px 0 0;
      .icon-bar {
        box-shadow: none;
      }
    }
    .btn-navbar:hover {
      background-color: #EC602F;
      background-image: none;
    }
    .brand, li a {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 2em;
      color: #fff;
      text-shadow: none;
      line-height: 2.1em;
    }
    li a {
      display: inline;
      line-height: 2.8em;
    }
    .nav.pull-right a {
      font-size: 1.4em;
      line-height: 4.4em;
      text-shadow: none;
      color: #fff;
    }
  }
}

.subnav {
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  .span1 {
    margin-right: 20px;
  }
  .give-star {
    margin: 0;
    a.give-star-btn {
      background: none;
      background-color: rgba(121, 189, 143, 1);
      color: #fff;
      border: none;
      width: 100%;
      padding: 6px 0; 
      border-radius: 2px;
      font-size: 1.3em;
      text-shadow: none;
    }
  }
  .section-title {
    color: rgba(0, 0, 0, 0.2);
    font-size: 1.6em;
    line-height: 1.6em;
    font-family: HelveticaNeue !important;
    margin-left: 10px;
  }
}


.page {
  .sidebar {
    margin: 0;
    .profile-pic {
      text-align: center;
    }
    .navigation {
      background: rgba(48, 110, 115, 1);
      list-style: none;
      margin: 0;
      font-size: 1.2em;
      color: #fff;
      li {
        line-height: 1.4em;
        margin-bottom: 4px;
        padding: 5px 20px 5px 10px;
        font-family: HelveticaNeue-Light;
      }
      li.head {
        background-color: rgba(255, 255, 255, 0.2);
        margin-bottom: 0;
        a.see-all {
          font-size: 0.9em;
          float: right;
          color: #ffff6e;
        }
      }
      ul {
        list-style: inherit;
        margin: 0;
        a {
          color: #fff;
        }
        li.view-nav {
          span.count {
            float: right;
            color: rgba(255, 255, 255, 0.8);
          }
        }
        li.view-nav.active {
          background-color: rgba(0, 0, 0, 0.2);
          padding-right: 15px;
        }
        li.view-nav.active:before {
          content: "";
          background-color: #EC602F;
          display: block;
          height: 33px;
          width: 5px;
          position: relative;
          float: right;
          bottom: 5px;
          left: 15px;
        }
        li.classmate {
          img {
            width: 20px;
            position: relative;
            bottom: 3px;
            opacity: 0.8;
          }
          a {
            color: #fff;
          }
          .count {
            float: right;
          }
        }
      }
    }
  }
  .content {
    margin: 0;
  }
}

@media (max-width: 767px) {
  html body {
    padding-left: 0; 
    padding-right: 0; 
  }

  .subnav {
    padding: 0;
    border-bottom: none;
    .give-star.span4 a {
      padding:20px;
      border-radius: 0;
      font-size: 2em;
    }
  }

  .group-grid a.user.span4 {
    margin: 0 0 10px 0;
  }
}
