/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body, .container {
  background-color: rgb(245, 245, 245) !important;
}

body {
  .navbar {
    box-shadow: none;
    border: none;
    .navbar-inner {
      border: none;
      background-image: none;
      box-shadow: none;
      background: rgb(235, 108, 37);
      .brand, li a {
        font-family: Helvetica;
        color: #fff;
        text-shadow: none;
      }
    }
  }
  .container {
    margin-top: 40px;
  }
}

.span2 {
  opacity: .6;
}

.span2:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hilite {
  background: rgba(200, 200, 200, 0.9);
}

.grid-size {
  position: fixed;
  top: 80px;
  right: 30px;
  font-size: 2em;
  color: #eee;
  i {
    cursor: pointer;
  }
  i:hover {
    color: #aaa;
  }
}

.group-grid {
  text-align: center;
  box-sizing: border-box;
  a {
    /*width: 320px;*/
    margin: 0 4px 0 0;
    display: inline-block;
    box-sizing: border-box;
    .user {
      width: 320px;
      height: 320px;
      position: relative;
      overflow: hidden;
      background-size: 100%;
      box-sizing: border-box;
      font-family: HelveticaNeue-Light;
      .name {
        position: absolute;
        left: 14px;
        text-align: center;
        color: #fff;
        text-align: center;
        color: #fff;
        font-size: 2em;
        line-height: 1.5em;
        letter-spacing: -1px;
        font-weight: 200;
        box-sizing: border-box;
      }
      .star-count {
        position: absolute;
        left: 6px;
        bottom: 16px;
        color: #fff;
        box-sizing: border-box;
        font-family: HelveticaNeue;
        font-size: 5.1em;
        i {
          font-size: 0.4em;
          line-height: 0.4em;
          position: relative;
          bottom: 26px;
          opacity: 0.5;
        }
      }
    }
  }
}