// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box; 
}

.activity-feed {
  .achievement {
    background-color: #F6F1ED;
    border-top: 1px solid #fff;
    border-bottom: 1px solid rgba(102, 148, 149, 0.1);
    padding: 5px;
    img {
      float: left;
      width: 56px;
      margin-right: 5px;
    }
    .text {
      font-family: HelveticaNeue, Sans Serif !important;
      font-size: 0.9em;
      line-height: 1.2em;
      padding: 0;
      margin: 0;
      a {
        font-family: HelveticaNeue, Sans Serif !important;
        color: #669495;
      }
    } 
    .time {
      padding: 0;
      margin: 0;
      font-size: 0.8em;
      color: rgba(100, 100, 100, 0.5);
    }
  }
}

.tooltip.top {
  width: 100px;
}

.tooltip .tooltip-inner {
  background-color: #EC602F;
  position: relative;
  right: 26px;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #EC602F;
}

.group-grid {
  padding: 0 0 0 20px;
  background: #fafafa;

  a.user {
    background-color: #ededed;
    display: inline-block;
    margin: 0 2px 2px 0;

    .head {
      .profile-pic {
        width: 33%;
        height: 100%;
        float: left;
        background-size: 100%;
      }
      .name {
        float: right;
        width: 66%;
        height: 100%;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        overflow: hidden;
        color: #564A3D;
        h2 {
          font-weight: 800;
          font-size: 2em;
        }
      }
    }

    .foot {
      background-color: #F6F1ED;
      color: #B7AAA1;
      text-align: center;
      font-size: 1.2em;
      font-family: Helvetica;
      div.count {
        display: inline-block;
        font-size: 0.9em;
        padding: 10px 0;
        width: 30%;
        border-right: 1px solid rgba(255, 255, 255, 0.8);
      }
      div.count.blog-posts {
        padding-right: none;
        border-right: none;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .group-grid a.user .head .name h2 {
    font-size: 1.4em;
    line-height: 1em;
  }
}

@media (max-width: 767px) {
  .group-grid a.user .head .name h2 {
    font-size: 1.4em;
    line-height: 1em;
  }
}