// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid-size {
  position: fixed;
  top: 120px;
  right: 30px;
  font-size: 2em;
  color: #eee;
  i {
    cursor: pointer;
  }
  i:hover {
    color: #aaa;
  }
}

.activity-feed {
  float: left;
  width: 20%;
}

.group-grid {
  float: right;
  width: 80%;
  text-align: center;
  box-sizing: border-box;
  a {
    /*width: 320px;*/
    margin: 0 4px 0 0;
    display: inline-block;
    box-sizing: border-box;
    .user {
      width: 320px;
      height: 320px;
      position: relative;
      overflow: hidden;
      background-size: 100%;
      box-sizing: border-box;
      font-family: HelveticaNeue-Light;
      .name {
        position: absolute;
        left: 14px;
        text-align: center;
        color: #fff;
        text-align: center;
        color: #fff;
        font-size: 2em;
        line-height: 1.5em;
        letter-spacing: -1px;
        font-weight: 200;
        box-sizing: border-box;
      }
      .star-count {
        position: absolute;
        left: 6px;
        bottom: 10px;
        color: #fff;
        box-sizing: border-box;
        font-family: HelveticaNeue;
        font-size: 5.1em;
        i {
          font-size: 0.4em;
          line-height: 0.4em;
          position: relative;
          bottom: 26px;
          opacity: 0.5;
        }
      }
    }
  }
}