// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid-size {
  position: fixed;
  top: 120px;
  right: 30px;
  font-size: 2em;
  color: #eee;
  i {
    cursor: pointer;
  }
  i:hover {
    color: #aaa;
  }
}

.activity-feed {
}

.tooltip.top {
  width: 100px;
}

.tooltip .tooltip-inner {
  background-color: #EC602F;
  position: relative;
  right: 26px;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #EC602F;
}

.group-grid {

  a.user {
    background-color: #fff;
    display: inline-block;
    width: 378px;
    border-radius: 8px;
    margin: 0 0 10px 10px;
    box-shadow: 1px 1px 5px rgba(120, 120, 120, 0.4);

    .head {
      .profile-pic {
        width: 160px;
        height: 160px;
        float: left;
        background-size: 100%;
        border-radius: 8px 0 0 0;
      }
      .name {
        float: right;
        width: 198px;
        text-align: left;
        padding-left: 20px;
        padding-top: 30px;
        overflow: hidden;
        color: #564A3D;
        h1 {
          font-weight: 800;
        }
      }
    }

    .foot {
      background-color: #F6F1ED;
      color: #B7AAA1;
      text-align: center;
      font-size: 1.2em;
      font-family: Helvetica;
      border-radius: 0 0 8px 8px;
      div.count:first-child {
      }
      div.count {
        display: inline-block;
        padding: 10px 44px;
        border-right: 1px solid rgba(255, 255, 255, 0.8);
      }
      div.count:last-child {
        padding-right: none;
        border-right: none;
      }
    }
  }
}