<div>
  <%= render :partial => "achievements/treehouse", :collection => @treehouse_stars, :as => "treehouse_star" %>
</div>

<hr>

<div>
  <%= render :partial => "achievements/codeschool", :collection => @codeschool_stars, :as => "codeschool_star" %>
</div>

<hr>

<div>
  <%= render :partial => "achievements/github", :collection => @github_stars, :as => "github_star"%>
</div>

<hr>

<div>
  <%= render :partial => "achievements/blog", :collection => @blog_stars, :as => "blog_star" %>
</div>
