<ul>
  <% achievements.each do |achievement| %>
    <%#= raise achievement.star.name.inspect %>
    <li><%= render :partial => "stars/star", :locals => { :star => achievement.star } %></li>
  <% end %>
</ul>

