<div class="span8">
  <ul>
    <% Achievement.student_message(@user).each do |achievement| %>
      <li>
        <%= User.find_by_id(achievement.sender_id).name %>: <%= achievement.message %>
      </li>
    <% end %>
  </ul>
</div>
