<% flash.each do |key, value| %>
  <div data-dismiss="alert", class="<%= flash_class(key) %> animated fadeInDown message", style="height:auto; max-height:80;">
    <a href="#" class="close" style="font-size:3em;">×</a>
    <h4><%= value %></h4>
  </div>
<% end %>
