<div class="subnav hidden-phone">
  <div class="container">
    <div class="row">
      <div class="give-star span2">
        <%= link_to 'Give a Star', '#give-star', :role => 'button', :class => 'give-star-btn btn', :data => {:group => current_group_id} %>
      </div>
      <div class="section-title span3"><i class="icon-th-large"></i>  <%= yield :section_title %></div>
      <div class="section-title span3">
        <% if current_user %>
        <% current_user.groups.each do |group| %>
            <%=link_to group.name, leaderboard_path(group) %> 
          <% end %>
        <% end %>
      </div>
      <div class="give-star span3">
          <% if current_user_is_teacher? %>
             <a href="#refillStarModal" role="button" data-toggle="modal" class="give-star-btn btn">Refill Star Bank</a>
          <% end %>
      </div>
    </div>
  </div>
</div>
