<div class="subnav hidden-phone">
  <div class="container">
    <div class="row">
      <div class="give-star span4"><a href="#myModal" role="button" data-toggle="modal" class="give-star-btn btn">Give a Star</a></div>
      <div class="section-title span8"><i class="icon-th-large"></i>  <%= yield :section_title %></div>
    </div>
  </div>
</div>