<div class="subnav hidden-phone">
  <div class="container">
    <div class="row">
      <div class="give-star span4">
        <%= link_to 'Give a Star', '#give-star', :role => 'button', :class => 'give-star-btn btn', :data => {:group => current_group_id} %>
      </div>
      <div class="section-title span3"><i class="icon-th-large"></i>  <%= yield :section_title %></div>
      <!-- <div class="section-title"> -->
        <%# if current_user %>
        <%# current_user.groups.each do |group| %>
           <div class="span2"> <%#=link_to group.name, leaderboard_path(group) %> </div>
          <%# end %>
        <%# end %>
      <!-- </div> -->
          <% if current_user && current_user.is_teacher? %>
            <div class="give-star span2 pull-right">
              <a href="#refillStarModal" role="button" data-toggle="modal" class="give-star-button btn">Refill Star Bank</a>
            </div>
            <% if @group %>
                <% unless @group.id.nil? %>
                  <div class="invite span2 pull-right", style="margin-right:20px">
                    <a href="<%= edit_group_path(@group) %>" role="button" class="invite-btn btn">Invite Students</a>
                  </div>
                <% end %>
            <% end %>
          <% end %>
    </div>
  </div>
</div>
